<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453860980331-7oj9asonlq1chomvgi4k2lcq8q0ppp2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453860980331-7oj9asonlq1chomvgi4k2lcq8q0ppp2m</string>
	<key>API_KEY</key>
	<string>AIzaSyCBeKjDFtMSKQyYyvgbtvnG63T8PrGtiLo</string>
	<key>GCM_SENDER_ID</key>
	<string>453860980331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahad.Messenger-App</string>
	<key>PROJECT_ID</key>
	<string>messenger-app-c5f7b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-app-c5f7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453860980331:ios:a1ae12440d3054ccd9232e</string>
</dict>
</plist>